venv
.doit.db.db
cache/
__pycache__
*_cache/
*.Rhistory
*.RData
node_modules
.Rproj.user
*~
.#*
#*#

*_cache

/web/output
/web/files/*-diff.txt
/web/files/lessons
/lessons/data/WDI_csv.zip
/lessons/data/WDI/
